h1{
    text-align: center;
    color: #006600;
}

body > h2{
    color: #0000FF;
}

h2:nth-of-type(2){
    text-align: center;
    color: #FF3399;
    background: #FECFFD;
}

div{
    text-align: center;
    background: #FFFFCC;
}

p:first-child{
    color:#0000FF;
}

hr{
    width: 20%;
}

p:nth-child(3){
    color: #FF3399;
}

p:last-child{
    color:#006600;
}

